<%= form_for(@balance_inquiry) do |f| %>
  <h2 class="pigFishish">Balance Inquiry</h2>
  <%= flash_messages %>
  <p>
    <%= f.label :source_account_id, "Select Account" %><br />
    <%= account_select(f, current_customer, :source_account_id) %>
  </p>
  <%= print_or_display%>
  <p><%= f.submit "Check Balance", :class => 'button pill big'%></p>
<% end %>