<%= form_for(@deposit) do |f| %>
  <h2 class="pigFishish">Deposit Funds</h2>
  <%= flash_messages %>
  <p>
    <%= f.label :target_account_id, "Select Account" %><br />
    <%= account_select(f, current_customer, :target_account_id) %>
  </p>
  <p>
    <%= f.label :amount, "Amount" %><br />
    <%= f.text_field :amount, :class => 'amount' %>
  </p>
  <%= print_or_display%>
  <p><%= f.submit "Deposit Funds", :class => 'button pill big'%></p>
<% end %>