<%= form_for(@transfer) do |f| %>
  <h2 class="pigFishish">Transfer Funds</h2>
  <p>
    <%= f.label :source_account_id, "From Account" %><br />
    <%= account_select(f, current_customer, :source_account_id) %>
  </p>
  <p>
    <%= f.label :target_account_id, "To Account" %><br />
    <%= account_select(f, current_customer, :target_account_id) %>
  </p>
  <p>
    <%= f.label :amount, "Amount" %><br />
    <%= f.text_field :amount, :class => 'amount' %>
  </p>
  <%= print_or_display%>
  <p><%= f.submit "Transfer Funds", :class => 'button pill big'%></p>
<% end %>