<%= form_for(@transfer) do |f| %>
  <p>
    <%= f.label :source_account_id, "From Account" %>  
    <%= account_select(f, current_customer, :source_account_id) %>
  </p>
  <p>
    <%= f.label :target_account_id, "To Account" %>  
    <%= account_select(f, current_customer, :target_account_id) %>
  </p>
  <p>
    <%= f.label :amount, "Amount" %>
    <%= f.text_field :amount %>
  </p>
  <p>
    Display on Screen <%= radio_button_tag 'output', 'screen', true %>
    Print Receipt <%= radio_button_tag 'output', 'print' %>
  </p>
  <p><%= f.submit "Transfer Funds", :class => 'button pill big'%></p>
<% end %>